*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.templates-and-contacts-section-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #295135;
}

/* template */
.template-container{
  padding: 2rem;
}
.template-form{
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 1.2rem;
  margin-top: 8px ;
}

.saved-templates-container{
  margin: 20px;
}
.saved-template-list{
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin: 6px 0px;
  padding: 0.6rem 1.2rem;
}
input, textarea {
  width: 100%;
  color: #000;
  padding: 8px;
  margin: 8px 0px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* contacts */
.contacts-container{
  padding: 2rem;
}
.contact-form{
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 1.2rem;
  margin-top: 8px ;
}

.saved-contact-container{
  margin: 20px;
}
.saved-contact-list{
  border: 2px solid #ffffff;
  margin: 6px 0px;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
h4{
  font-size: 28px;
  margin-bottom: 1.4rem;
}

h3{
  font-size: 32px;
  margin-bottom: 1.5rem;
}

button {
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  cursor: pointer;
  background-color: transparent;
}

/* bul-email  */
.bulk-email-container {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 30px auto;
  width: fit-content;
  text-align: center;
  background-color: #295135;
}

.bulk-email-container h3 {
  margin-bottom: 1rem;
}

.bulk-email-container select,
.bulk-email-container input {
  display: block;
  width: 500px;
  margin: 10px auto;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.success-message{
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
}

.bulk-email-container option {
  color: #000000;
  background-color: #ffffff;
}